# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=isp_management
DB_PORT=3306

# Server Configuration
PORT=5000
NODE_ENV=development

# JWT Secret
JWT_SECRET=your_super_secret_jwt_key_here

# WhatsApp API Configuration
WHATSAPP_API_URL=https://api.fonnte.com/send
WHATSAPP_API_KEY=nTALSK7kLGaee3zJijNT

# Google Maps API (opsional)
GOOGLE_MAPS_API_KEY=AIzaSyB01Q02Da_NGXy_amFLLOdZgu2FFD3iksg
# AIzaSyB01Q02Da_NGXy_amFLLOdZgu2FFD3iksg (api key google maps demo) your_google_maps_api_key_here
